[Unit]
Description=Computer vision by team 3140.

[Service]
ExecStart=/home/dev3140/py_env/bin/python3 -m sensors3140
User=dev3140
Group=dev3140

[Install]
WantedBy=multi-user.target


